<div class="hero">
    <br />
    <div class="frosty col-10 offset-1 text-center">   
        <br /> 
        <h1> Temporary Header </h1>
        <br />
        <h2> Temporary Header 2 </h2>
        <br />
        <%= link_to 'Learn More', 'courses_path', class: 'btn btn-success'%>
        <br /> <br />
    </div>
</div>
<br />

<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3> Feature 1 </h3>
        <br />
        <p> PlaceHold Text 1 </p>
    </div>

    <div class="col-12 col-sm">
        <h3> Feature 2 </h3>
        <br />
        <p> placehold text 2 </p>
    </div>

    <div class="col-12 col-sm">
        <h2> Feature 3 </h3>
        <br />
        <p> Placehold text 3 </p>
    </div>
</div>